.header {
  height: 300px;
  font-family: "Brush Script MT";
  margin: 0px;
  padding: 0px;
  background-image: url("../images/mealRouletteheader.jpg");
  background-size: 100%; }
  .header div {
    padding-top: 50px;
    padding-left: 20%; }
  .header h1 {
    font-size: 8em; }
  .header h2 {
    font-size: 5em;
    padding: 25px, 0px, 0px, 100px; }
  .header h1, .header h2 {
    margin: 0px;
    color: #ee2;
    text-shadow: 1px 2px 3px orange, 0 0 2em darkgreen, 0 0 0.4em black; }

.hh {
  margin: 0px 0px 10px 0px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #999;
  color: #eea;
  background-color: rgba(50, 175, 70, 0.9);
  width: 100%;
  position: sticky;
  padding: 10px; }

.btn {
  color: #eee;
  background-color: seagreen; }

.breakfastBox {
  height: 50px;
  width: 20%; }

a {
  text-decoration: none;
  cursor: pointer; }

.modal {
  border: 1px solid black;
  padding: 0 auto; }

.ingredientBox {
  display: inline-block;
  margin-left: 2%;
  font-size: 1.1em; }

.glyphicon-remove {
  text-decoration: none;
  display: inline-block;
  float: right;
  color: #eea; }
  .glyphicon-remove :hover {
    cursor: hand; }

.form3 {
  border-bottom: 10px solid green;
  min-height: 150px;
  background-color: rgba(50, 175, 70, 0.9); }

.container1 {
  width: 100%; }

.mealColumn {
  background-color: #eee;
  -webkit-transition: .5s all ease;
  -webkit-box-shadow: 0px 0px 7px 6px #3c0000;
  height: 275px;
  margin: 2.5% 2%;
  width: 200px; }
  .mealColumn img {
    width: 75%;
    margin-left: 12.5%; }
  .mealColumn h4 {
    text-align: center; }
  .mealColumn .modal-dialog {
    overflow: scroll;
    background-color: #ddd;
    min-width: 800px;
    min-height: 500px;
    -webkit-box-shadow: 0px 0px 12px 4px #222; }
    .mealColumn .modal-dialog img {
      height: 55%;
      width: auto;
      margin-left: 0%;
      border: 5px solid #790000; }

.foodSchedule {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -webkit-transition: .5s all ease; }

.btn-lg {
  margin: 2% auto; }

.report {
  color: #eea;
  font-weight: 50; }
  .report h3 {
    margin: 0; }
